
.table_container{
   overflow-x:scroll;
}
@media screen and (max-width: 660px) {
    .table_container{
        width:80vw;
    }
}

@media screen and (min-width: 660px) {
    .table_container{
        width:70vw;
    }
}
@media screen and (min-width: 1024px) {
    .table_container{
        width:80vw;
    }
}
